.jumbotron {
	background-color: yellow;
	color: black; 
	margin-top: 50px;

}

.footer {
	padding: 10px 0px 0px 60px;
	background-color: yellow;
    color: black;
    margin-top: 10px
    margin-bottom: 0px;
}

.card-hotel {
	flex: 1 150 px;
	margin-top: 20px;

}

.btn-reserva {
	width: 100%;
	border-radius: 0px
}

.footer-address-icon {
	padding-right: 10px;
}

.btn-gg {
    margin-bottom: 20px;
}